@page "/todos"

@using BlazorApp.Data
@inject ITodoService todoService

<h1>TODOS</h1>
<label for="showdone">Show done tasks</label>
<input id="showdone" type="checkbox" @bind="showDone" @bind:event="onchange" name="show done tasks"/>

<ul>
    @foreach (var todo in todos)
    {
        if (!todo.Done || (todo.Done && showDone))
        {
            <Todo todo="todo" DoneCallback="toggle"/>
        }
    }
</ul>

<input type="text" @bind="description" @bind:event="oninput" @onkeydown="OnKeyDown"/> <button @onclick="AddItem">Add</button>


@code {
    private List<TodoItem> todos;

    private string description;

    private bool showDone;

    private void toggle(TodoItem todo)
    {
        todoService.SetDone(todo,!todo.Done);
    }
    
    private void OnKeyDown(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            AddItem();
        }
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
    
    private void AddItem()
    {
        if (!string.IsNullOrEmpty(description))
        {
            todoService.Add(description);
            todos = todoService.GetTodos();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        todos = todoService.GetTodos();
        todoService.RefreshRequested += RefreshMe;
    }
    

  
}
